<%- partial('partials/header') %>

<section>
    <div class="container">
        <div class="row">
            <%- partial('partials/category', {listBrands:listBrands}) %>

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <% if( item.gallery && item.gallery.length > 0 ){ %>
                            <img src="<%= item.gallery[0].dir + item.gallery[0].image %>" alt=""/>
                            <% } %>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <% if( item.gallery && item.gallery.length > 0 ){ %>
                                <% for(var i = 0;i < item.gallery.length;i++){ %>
                                <% if(i == 0 || i % 3 == 0 ) { %>
                                <div class="item<%= i == 0 ? ' active' : '' %>">
                                    <% } %>
                                    <a href="#" data-num-n="<%= item.gallery.length %>" data-num-i="<%= i %>"
                                       data-num="<%= i % 3 %>"
                                       data-image-big="<%= item.gallery[i].dir + 'big_' + item.gallery[i].image %>"><img
                                                src="<%= item.gallery[i].dir + 'thumb_' + item.gallery[i].image %>"
                                                alt=""></a>
                                    <% if((i + 1) % 3 == 0 || (i + 1) == item.gallery.length ) { %>
                                </div>
                                <% } %>
                                <% } %>
                                <% } %>
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <span>
									<span><%= item.price ? '$' + item.price : '$0' %></span>
                                <!--<<label>Quantity:</label>
                                input type="text" value="3" />-->
                                <!--button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Добавить в корзину
                                </button-->
								</span>
                            <h2><%= item.mark + ' ' + item.model %></h2>
                            <p><b>Категория:</b> <%= RelationHelper.getProductClass(item.category).name %></p>
                            <!--<img src="/images/product-details/rating.png" alt="" />-->

                            <% if(item.manufacturer) { %>
                            <p><b>Производитель:</b> <%= item.manufacturer %></p>
                            <% } %>
                            <% if(item.color) { %>
                            <p><b>Цвет:</b> <%= item.color %></p>
                            <% } %>
                            <a href=""><img src="/images/product-details/share.png" class="share img-responsive"
                                            alt=""/></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Характеристики</a></li>
                            <!--<li><a href="#reviews" data-toggle="tab">Отзывы</a></li>-->
                        </ul>
                    </div>
                    <div class="tab-content tab-params">
                        <div class="tab-pane fade active in" id="details">
                            <%- partial('product-forms/' + item.category, {item: item}) %>
                        </div>
                        <!--<div class="tab-pane fade" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                                <p><b>Write Your Review</b></p>

                                <form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img src="/images/product-details/rating.png" alt=""/>
                                    <button type="button" class="btn btn-default pull-right">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>-->
                    </div>
                </div><!--/category-tab-->

                <% if(otherItems && otherItems.length > 0) { %>
                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Смотрите также</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% for(var i = 0;i < otherItems.length;i++) { %>
                            <% if( i == 0 || i%3 == 0 ) { %><div class="item<%= i==0 ? ' active' : '' %>"><% } %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <%= otherItems[i].image %>

                                                <h2><%= otherItems[i].price ? '$'+otherItems[i].price : '$0' %></h2>
                                                <p><%= otherItems[i].mark + ' ' + otherItems[i].model %></p>
                                                <a href="/products/<%= otherItems[i].category %>/<%= otherItems[i].slug %>.html" class="btn btn-warning add-to-cart"><i
                                                            class="fa fa-bookmark"></i>Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% if( (i+1) == otherItems.length || (i+1)%3 == 0 ) { %></div><% } %>
                            <% } %>

                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- partial('partials/footer') %>