<header id="main-header" class="row site-header clearfix">
    <div id="header" class="box-animate">
        <div id="main-menu" class="displayNone" ng-controller="main-menu">
            <button class="header-icon menu"></button>
        </div>
        <div class="main-menu-vertical">
            <ul>
                <li ><a href="/" title=""><i class="fa fa-reply-all" aria-hidden="true"></i> &nbsp;&nbsp;Главная</a></li>
<!--                <li><a href="" title="">Первая категория</a></li>
                <li><a href="" title="">Вторая категория</a></li>
                <li><a href="" title="">Третья категория</a></li>-->
            </ul>
        </div>
        <div class="site-title site-name">Travel <span>Blog</span></div>
        <p class="site-description">Лучший туристичекий блок Казахстана</p>
        <!--button class="header-icon" id="btn-search"><i class="fa fa-search"></i></button-->
    </div>
</header>